* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.428571429;
  color: #eee;
  margin: 0;
}

.container {
  opacity: 0;
  margin: 55px auto 30px auto;
  border-radius: 0;
  padding: 20px;
  color: inherit;
  background-color: #30333B;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  transition: all ease 0.2s;

  h1 {
    font-size: 42px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  p {
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
    margin: 0 0 10px;
  }
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 900px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .container {
    padding: 20px 60px;
    max-width: 900px;
    border-radius: 6px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}