@import "imports";
@import "global/template";

.tracks-list {
  position: relative;
}

.currently-label {
  display: block;
  padding: .2em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1em;
}