@import "imports";
@import "global/template";

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.tracks-list {
  position: relative;
  text-align: center;

  &.loading .loader {
    display: inline-block;
  }

  .loader {
    display: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border: none;
    text-align: left;
    margin-bottom: 1em;

    thead {
      border-bottom: 1px solid #888;
    }

    th {
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-bottom: .5em;
    }

    td {
      padding: .25em 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
    }

    th, td {
      padding-left: .75em;
      opacity: .7;
      display: none;
      &:first-child {
        padding-left: 0;
        padding-right: 2em;
        opacity: 1;
        display: table-cell;
      }
    }

    tr:first-of-type td {
      padding-top: 1em;
    }
  }
}

.playlist-header {
  display: flex;
  flex-flow: row wrap;
  margin: 1em 0;
}

.currently-label {
  display: block;
  padding: .2em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1em;
  flex: 1 100%;
}

.playlist-img {
  flex: 1 100%;
  padding: 0 1.5em;
  img {
    width: 100%;
  }
}

.playlist-details {
  flex: 1;
  display: inline-block;
  vertical-align: top;
  margin: -.1em 1.5em 0 1.5em;
  h2 {
    margin: $playlist-image-width/2 0 1em 0;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%);
    font-size: 2em;
    display: none;
  }
  .playlist-description {
    display: none;
  }
}

.track-added {
  position: absolute;
  right: 0.5em;
  &:before {
    content: '\f133';
    opacity: 0.7;
    font-family: FontAwesome;
    cursor: pointer;
  }
}

@media screen and (min-width: 500px) {
  .tracks-list {
    td:nth-child(2), th:nth-child(2) {
      display: table-cell;
    }
  }
}

@media screen and (min-width: 750px) {
  .tracks-list {
    td:nth-child(3), th:nth-child(3) {
      display: table-cell;
    }
  }
}

@media screen and (min-width: 401px) {
  .playlist-img {
    padding: 0 !important;
    width: $playlist-image-width !important;
    height: $playlist-image-width !important;
    flex: none !important;
  }
  .playlist-details h2 {
    display: block !important;
  }

}

@media screen and (min-width: 700px) {
  .playlist-description {
    display: block !important;
  }
  .playlist-details {
    vertical-align: middle !important;
    h2 {
      margin-top: 0 !important;
      transform: none !important;
    }
  }
}